<a href="https://colab.research.google.com/github/Subhan460/IDS_Assignments/blob/main/Assignment_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
docx = "sunshine state enjoy sunshine"
docy = "brown fox jump high, brown fox run" 
docz="sunshine state fox run fast"
bowx = docx.split(" ")
bowy = docy.split(" ")
bowz = docz.split(" ")

In [3]:
words = set(bowx).union(set(bowy)).union(set(bowz))
words

{'brown', 'enjoy', 'fast', 'fox', 'high,', 'jump', 'run', 'state', 'sunshine'}

In [4]:
wordDictx = dict.fromkeys(words, 0) 
wordDicty = dict.fromkeys(words, 0) 
wordDictz = dict.fromkeys(words, 0)

In [5]:
for word in bowx:
    wordDictx[word]+=1
for word in bowy:
    wordDicty[word]+=1
for word in bowz:
    wordDictz[word]+=1

In [6]:
import pandas as pd
pd.DataFrame([wordDictx, wordDicty ,wordDictz])

   enjoy  state  fast  brown  high,  run  jump  sunshine  fox
0      1      1     0      0      0    0     0         2    0
1      0      0     0      2      1    1     1         0    2
2      0      1     1      0      0    1     0         1    1

In [12]:
def computeTF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count/float(bowCount)
    return tfDict

In [13]:
for word in bowx:
    wordDictx[word]+=1
for word in bowy:
    wordDicty[word]+=1
for word in bowz:
    wordDictz[word]+=1

In [14]:
import pandas as pd
pd.DataFrame([wordDictx, wordDicty ,wordDictz])

   enjoy  state  fast  brown  high,  run  jump  sunshine  fox
0      2      2     0      0      0    0     0         4    0
1      0      0     0      4      2    2     2         0    4
2      0      2     2      0      0    2     0         2    2

In [15]:
def computeTF(wordDict, bow):
    tfDict = {}
    bowCount = len(bow)
    for word, count in wordDict.items():
        tfDict[word] = count/float(bowCount)
    return tfDict

In [16]:
tfBowx = computeTF(wordDictx, bowx)
tfBowy = computeTF(wordDicty, bowy)
tfBowz = computeTF(wordDictz, bowz)

In [17]:
tfBowx

{'enjoy': 0.5,
 'state': 0.5,
 'fast': 0.0,
 'brown': 0.0,
 'high,': 0.0,
 'run': 0.0,
 'jump': 0.0,
 'sunshine': 1.0,
 'fox': 0.0}

In [18]:
tfBowy

{'enjoy': 0.0,
 'state': 0.0,
 'fast': 0.0,
 'brown': 0.5714285714285714,
 'high,': 0.2857142857142857,
 'run': 0.2857142857142857,
 'jump': 0.2857142857142857,
 'sunshine': 0.0,
 'fox': 0.5714285714285714}

In [19]:
tfBowz

{'enjoy': 0.0,
 'state': 0.4,
 'fast': 0.4,
 'brown': 0.0,
 'high,': 0.0,
 'run': 0.4,
 'jump': 0.0,
 'sunshine': 0.4,
 'fox': 0.4}

In [20]:
def computeIDF(docList):
    import math
    idfDict = {}
    N = len(docList)
    
    idfDict = dict.fromkeys(docList[0].keys(), 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
        
    return idfDict

In [21]:
idff = computeIDF([wordDictx, wordDicty , wordDictz])

In [22]:
def computeTFIDF(tfBow, idff):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idff[word]
    return tfidf

In [23]:
tfidfBowx = computeTFIDF(tfBowx, idff)
tfidfBowy = computeTFIDF(tfBowy, idff)
tfidfBowz = computeTFIDF(tfBowz, idff)

In [24]:
import pandas as pd
pd.DataFrame([tfidfBowx, tfidfBowy , tfidfBowz])

,enjoy,state,fast,brown,"high,",run,jump,sunshine,fox
0,0.238561,0.088046,0.000000,0.000000,0.00000,0.000000,0.00000,0.176091,0.000000
1,0.000000,0.000000,0.000000,0.272641,0.13632,0.050312,0.13632,0.000000,0.100624
2,0.000000,0.070437,0.190849,0.000000,0.00000,0.070437,0.00000,0.070437,0.070437

In [25]:
import numpy as np
from numpy.linalg import norm
S1 = np.array([2,1,1,0,0,0,0,0,0])
S3 = np.array([1,1,0,0,1,0,0,1,1])
cosine = np.dot(S1,S3)/(norm(S1)*norm(S3))
print("Cosine Similarity:", cosine)

Cosine Similarity: 0.5477225575051661