<a href="https://colab.research.google.com/github/Subhan460/IDS_Assignments/blob/main/SP20_BCS_098_ASSIGN_04_IDS_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [31]:
import pandas as pd

In [32]:
from google.colab import drive

In [33]:
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [34]:
df = pd.read_csv('/content/drive/My Drive/G-prediction.csv')

In [35]:
df

    height  weight beard hair_length  shoe_size scarf eye_color  gender
0       71     176   yes       short         44    no     black    male
1       68     165    no        bald         41    no     black    male
2       62     132    no      medium         37   yes      blue  female
3       65     138    no        long         38    no      gray  female
4       70     197   yes      medium         43    no      gray    male
..     ...     ...   ...         ...        ...   ...       ...     ...
75      65      99    no       short         39   yes     green  female
76      61      98    no       short         37    no     brown  female
77      67     119   yes       short         40    no     black    male
78      70     190   yes      medium         43    no      gray    male
79      62     142   yes        long         37    no      blue  female

[80 rows x 8 columns]

In [36]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df['beard']=le.fit_transform(df['beard'])
df['hair_length']=le.fit_transform(df['hair_length'])
df['scarf']=le.fit_transform(df['scarf'])
df['eye_color']=le.fit_transform(df['eye_color'])
df['gender']=le.fit_transform(df['gender'])
df

    height  weight  beard  hair_length  shoe_size  scarf  eye_color  gender
0       71     176      1            3         44      0          0       1
1       68     165      0            0         41      0          0       1
2       62     132      0            2         37      1          1       0
3       65     138      0            1         38      0          3       0
4       70     197      1            2         43      0          3       1
..     ...     ...    ...          ...        ...    ...        ...     ...
75      65      99      0            3         39      1          4       0
76      61      98      0            3         37      0          2       0
77      67     119      1            3         40      0          0       1
78      70     190      1            2         43      0          3       1
79      62     142      1            1         37      0          1       0

[80 rows x 8 columns]

In [37]:
a = df[['height','weight','beard','hair_length','shoe_size','scarf','eye_color']]
b = df['gender']

from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(a,b,test_size=0.33,random_state=30)
X_train, X_test, y_train, y_test = train_test_split(a,b,test_size=0.20,random_state=30)

In [38]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(hidden_layer_sizes=(4,5),
                    random_state=6,
                    verbose=True,
                    learning_rate_init=0.01)
clf.fit(X_train,y_train)

Iteration 1, loss = 15.20592422
Iteration 2, loss = 15.20592404
Iteration 3, loss = 15.20592386
Iteration 4, loss = 15.20592369
Iteration 5, loss = 15.12377515
Iteration 6, loss = 14.19342363
Iteration 7, loss = 13.00874085
Iteration 8, loss = 11.89058507
Iteration 9, loss = 10.83315605
Iteration 10, loss = 9.83521245
Iteration 11, loss = 8.89525500
Iteration 12, loss = 8.01157860
Iteration 13, loss = 7.18232354
Iteration 14, loss = 6.40548907
Iteration 15, loss = 5.67894914
Iteration 16, loss = 5.00047356
Iteration 17, loss = 4.36777028
Iteration 18, loss = 3.77861535
Iteration 19, loss = 3.23130921
Iteration 20, loss = 2.72616881
Iteration 21, loss = 2.26851024
Iteration 22, loss = 1.86531870
Iteration 23, loss = 1.52302690
Iteration 24, loss = 1.25997790
Iteration 25, loss = 1.05518547
Iteration 26, loss = 0.91373609
Iteration 27, loss = 0.82634452
Iteration 28, loss = 0.76971166
Iteration 29, loss = 0.73442272
Iteration 30, loss = 0.71191487
Iteration 31, loss = 0.69375685
Iteration 32, loss = 0.68944282
Iteration 33, loss = 0.68931259
Iteration 34, loss = 0.68836226
Iteration 35, loss = 0.68746862
Iteration 36, loss = 0.68664159
Iteration 37, loss = 0.68588592
Iteration 38, loss = 0.68520291
Iteration 39, loss = 0.68459144
Iteration 40, loss = 0.68404871
Iteration 41, loss = 0.68357076
Iteration 42, loss = 0.68315291
Iteration 43, loss = 0.68279006
Iteration 44, loss = 0.68247697
Iteration 45, loss = 0.68220842
Iteration 46, loss = 0.68197940
Iteration 47, loss = 0.68178516
Iteration 48, loss = 0.68162129
Iteration 49, loss = 0.68148377
Iteration 50, loss = 0.68136896
Iteration 51, loss = 0.68127363
Iteration 52, loss = 0.68119492
Iteration 53, loss = 0.68113030
Iteration 54, loss = 0.68107759
Iteration 55, loss = 0.68103489
Iteration 56, loss = 0.68100057
Iteration 57, loss = 0.68097323
Iteration 58, loss = 0.68095168
Iteration 59, loss = 0.68093491
Iteration 60, loss = 0.68092205
Iteration 61, loss = 0.68091240
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.

MLPClassifier(hidden_layer_sizes=(4, 5), learning_rate_init=0.01,
              random_state=6, verbose=True)

In [39]:
y_pred=clf.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.5625

In [40]:
from sklearn.metrics import classification_report,confusion_matrix

print(confusion_matrix(y_test,y_pred))

print(classification_report(y_test,y_pred))
# 7 are incorrectly classiffier

[[0 7]
 [0 9]]
              precision    recall  f1-score   support

           0       0.00      0.00      0.00         7
           1       0.56      1.00      0.72         9

    accuracy                           0.56        16
   macro avg       0.28      0.50      0.36        16
weighted avg       0.32      0.56      0.40        16

In [41]:
from sklearn.ensemble import RandomForestClassifier

rf_clf=RandomForestClassifier(n_estimators=100)

rf_clf.fit(X_train,y_train)

random_y_pred=rf_clf.predict(X_test)

from sklearn.metrics import classification_report,confusion_matrix

print(confusion_matrix(y_test,random_y_pred))

print(classification_report(y_test,random_y_pred))
# 0  are incorrectly classified

[[7 0]
 [0 9]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         7
           1       1.00      1.00      1.00         9

    accuracy                           1.00        16
   macro avg       1.00      1.00      1.00        16
weighted avg       1.00      1.00      1.00        16

In [42]:
from sklearn import svm
svm_clf = svm.SVC(kernel='linear') # Linear Kernel
svm_clf.fit(X_train, y_train)
svm_pred = svm_clf.predict(X_test)

from sklearn.metrics import classification_report,confusion_matrix

print(confusion_matrix(y_test,svm_pred))

print(classification_report(y_test,svm_pred))
# 1 instance in incorrectly classifies

[[7 0]
 [1 8]]
              precision    recall  f1-score   support

           0       0.88      1.00      0.93         7
           1       1.00      0.89      0.94         9

    accuracy                           0.94        16
   macro avg       0.94      0.94      0.94        16
weighted avg       0.95      0.94      0.94        16

In [44]:
df2=df.drop('hair_length', axis = 'columns', inplace = True)
df2=df.drop('beard', axis = 'columns', inplace = True)
print(df2)

None

In [17]:
df2

In [45]:
x = df[['height','weight','shoe_size','scarf','eye_color']]
y = df['gender']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.20,random_state=42)

In [46]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(hidden_layer_sizes=(6,5),
                    random_state=5,
                    verbose=True,
                    learning_rate_init=0.01)


clf.fit(X_train,y_train)

ypred=clf.predict(X_test)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,ypred)

from sklearn.metrics import classification_report,confusion_matrix

print(confusion_matrix(y_test,ypred))

print(classification_report(y_test,ypred))

Iteration 1, loss = 15.21682543
Iteration 2, loss = 9.23965363
Iteration 3, loss = 3.99112312
Iteration 4, loss = 0.93888612
Iteration 5, loss = 0.87292311
Iteration 6, loss = 1.77819990
Iteration 7, loss = 2.58260177
Iteration 8, loss = 3.10461695
Iteration 9, loss = 3.36030291
Iteration 10, loss = 3.39456565
Iteration 11, loss = 3.24856441
Iteration 12, loss = 2.95724654
Iteration 13, loss = 2.55315290
Iteration 14, loss = 2.07348279
Iteration 15, loss = 1.56704886
Iteration 16, loss = 1.09449087
Training loss did not improve more than tol=0.000100 for 10 consecutive epochs. Stopping.
[[5 2]
 [2 7]]
              precision    recall  f1-score   support

           0       0.71      0.71      0.71         7
           1       0.78      0.78      0.78         9

    accuracy                           0.75        16
   macro avg       0.75      0.75      0.75        16
weighted avg       0.75      0.75      0.75        16

In [48]:
from sklearn.ensemble import RandomForestClassifier
rf_clf=RandomForestClassifier(n_estimators=100)
rf_clf.fit(X_train,y_train)

random_y_pred=rf_clf.predict(X_test)

from sklearn.metrics import classification_report,confusion_matrix

print(confusion_matrix(y_test,random_y_pred))

print(classification_report(y_test,random_y_pred))
#1 instance in incorrectly classified

[[6 1]
 [0 9]]
              precision    recall  f1-score   support

           0       1.00      0.86      0.92         7
           1       0.90      1.00      0.95         9

    accuracy                           0.94        16
   macro avg       0.95      0.93      0.94        16
weighted avg       0.94      0.94      0.94        16

In [49]:
from sklearn import svm
svm_clf = svm.SVC(kernel='linear') # Linear Kernel
svm_clf.fit(X_train, y_train)
svm_pred = svm_clf.predict(X_test)

from sklearn.metrics import classification_report,confusion_matrix

print(confusion_matrix(y_test,svm_pred))

print(classification_report(y_test,svm_pred))

[[7 0]
 [0 9]]
              precision    recall  f1-score   support

           0       1.00      1.00      1.00         7
           1       1.00      1.00      1.00         9

    accuracy                           1.00        16
   macro avg       1.00      1.00      1.00        16
weighted avg       1.00      1.00      1.00        16

In [50]:
df3 = pd.read_csv('/content/drive/My Drive/G-prediction.csv')

In [51]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
df3['beard']=le.fit_transform(df3['beard'])
df3['hair_length']=le.fit_transform(df3['hair_length'])
df3['scarf']=le.fit_transform(df3['scarf'])
df3['eye_color']=le.fit_transform(df3['eye_color'])
df3['gender']=le.fit_transform(df3['gender'])
df3

x = df3[['height','weight','beard','hair_length','shoe_size','scarf','eye_color']]
y = df3['gender']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x,y,test_size=0.20,random_state=42)



df3

    height  weight  beard  hair_length  shoe_size  scarf  eye_color  gender
0       71     176      1            3         44      0          0       1
1       68     165      0            0         41      0          0       1
2       62     132      0            2         37      1          1       0
3       65     138      0            1         38      0          3       0
4       70     197      1            2         43      0          3       1
..     ...     ...    ...          ...        ...    ...        ...     ...
75      65      99      0            3         39      1          4       0
76      61      98      0            3         37      0          2       0
77      67     119      1            3         40      0          0       1
78      70     190      1            2         43      0          3       1
79      62     142      1            1         37      0          1       0

[80 rows x 8 columns]

In [52]:
from sklearn.model_selection import ShuffleSplit,cross_val_score
from sklearn.tree import DecisionTreeClassifier

dt=DecisionTreeClassifier()
shuffle_split=ShuffleSplit(test_size=0.3,train_size=0.5,n_splits=10)

scores=cross_val_score(dt,x,y,scoring="f1",cv=shuffle_split)

print("cross Validation scores:n {}".format(scores))
print("Average Cross Validation score :{}".format(scores.mean()))

cross Validation scores:n [0.9375     0.95652174 0.73684211 0.96296296 0.96551724 0.96774194
 0.93333333 0.90322581 0.93333333 0.9375    ]
Average Cross Validation score :0.9234478457338018

In [53]:
from sklearn.model_selection import LeavePOut,cross_val_score
from sklearn.tree import DecisionTreeClassifier

import warnings
warnings.filterwarnings('ignore')

lpo=LeavePOut(p=2)
lpo.get_n_splits(x)
tree=DecisionTreeClassifier(max_depth=5)
score=cross_val_score(tree,x,y,scoring="f1",cv=lpo)
print("Cross Validation Scores are {}".format(score))
print("Average Cross Validation score :{}".format(score.mean()))

Cross Validation Scores are [1.         1.         1.         ... 1.         0.66666667 0.66666667]
Average Cross Validation score :0.77542194092827

In [55]:

df_new_rows = pd.DataFrame(df3)


new_row = [{'height':80,'weight':72,'beard':1,'hair_length':3,'shoe_size':42,"scarf":0,'eye_color':1,'gender':1},#Subhan Khan
           {'height':78,'weight':132,'beard':1,'hair_length':1,'shoe_size':42,"scarf":0,'eye_color':2,'gender':1},#Hamaad Zafar
           {'height':81,'weight':140,'beard':0,'hair_length':1,'shoe_size':40,"scarf":0,'eye_color':1,'gender':1},#Sundar
           {'height':84,'weight':100,'beard':0,'hair_length':2,'shoe_size':42,"scarf":0,'eye_color':1,'gender':1},#Humail
           {'height':82,'weight':95,'beard':1,'hair_length':2,'shoe_size':40,"scarf":0,'eye_color':3,'gender':1}]#Azam            
df_new_rows = df_new_rows.append(new_row, ignore_index=True)

print('\n\nNew row added to DataFrame\n--------------------------')
print(df_new_rows)

New row added to DataFrame
--------------------------
    height  weight  beard  hair_length  shoe_size  scarf  eye_color  gender
0       71     176      1            3         44      0          0       1
1       68     165      0            0         41      0          0       1
2       62     132      0            2         37      1          1       0
3       65     138      0            1         38      0          3       0
4       70     197      1            2         43      0          3       1
..     ...     ...    ...          ...        ...    ...        ...     ...
80      80      72      1            3         42      0          1       1
81      78     132      1            1         42      0          2       1
82      81     140      0            1         40      0          1       1
83      84     100      0            2         42      0          1       1
84      82      95      1            2         40      0          3       1

[85 rows x 8 columns]

In [56]:
a = df_new_rows[['height','weight','beard','hair_length','shoe_size','scarf','eye_color']]
b = df_new_rows['gender']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(a,b,test_size=0.20,random_state=42)

In [57]:
from sklearn.naive_bayes import GaussianNB
nbclassifier = GaussianNB()
nbclassifier.fit(X_train,y_train)

Y_predicts= nbclassifier.predict(X_test)
Y_predicts

from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_test,Y_predicts))

print(classification_report(y_test,Y_predicts))

[[ 6  1]
 [ 0 10]]
              precision    recall  f1-score   support

           0       1.00      0.86      0.92         7
           1       0.91      1.00      0.95        10

    accuracy                           0.94        17
   macro avg       0.95      0.93      0.94        17
weighted avg       0.95      0.94      0.94        17